h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 5px 0px;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

/*? Cars */
.css-cars {
    margin-bottom: 50px;
}

/*? Click  */
.box {
    width: 100px;
    height: 100px;
    background-color: red;
}

/*? Cars search  */
.car-search {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.car-group {
    margin-right: 10px;
}

.car-input,
.car-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.car-button {
    background-color: #D2042D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.car-button:hover {
    background-color:#880808;
}

.car-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.car-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.car-image {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.car-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

.car-type {
    font-size: 18px;
    color: #666;
    margin-bottom: 5px;
}

.car-price {
    font-size: 20px;
    color: #D2042D;
    font-weight: bold;
}

/*? Advertising */
.adverting-content {
    display: flex;
    justify-content: center;
    background-image: url(https://ireland.apollo.olxcdn.com/v1/files/r1bs7xtaf7d41-UA/image);
    background-size: cover;
    width: 650px;
    height: 400px;
    font-size: 38px;
    font-weight: bold;
    color: yellow;
}

/*? Clock */
.clock {
    width: 550px;
    height: 550px;
    background-image: url(https://i.ibb.co/dBGxSK1/hiclipart-com-3.png);
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    border-radius: 50%;
    position: relative;
    left: 450px;
}

.clock-arrow {
    position: absolute;
    background-color: black;
    transform-origin: bottom;
    transform: translateX(-50%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.clock-center {
    position: absolute;
    background-color: black;
    top: 268px;
    left: 268px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.clock-seconds__arrow {
    bottom: 50%;
    left: 50%;
    width: 5px;
    height: 40%;
}

.clock-minutes__arrow {
    bottom: 50%;
    left: 50%;
    width: 7px;
    height: 33%;
}

.clock-hours__arrow {
    bottom: 50%;
    left: 50%;
    width: 12px;
    height: 24%;
}

.date {
    width: 100px;
    height: 100px;
    color: black;
}

.calendar {
    display: flex;
    justify-content: space-between;
}

.date-style {
    display: flex;
    font-size: 40px;
    font-weight: 900;
    text-shadow: 3px 3px 2px #cecbcd;
}

.digital-clock {
    text-align: center;
    font-size: 60px;
    text-shadow: 3px 3px 2px #cecbcd;
}

