h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 5px 0px;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

.css-cars {
    margin-bottom: 50px;
}